/ Footer
.row
  .large-12.columns
    %hr/
    .row
      .large-6.small-4.columns
        %p.copyright
          © Copyright no one at all. Go to town.
      .large-6.small-8.columns
        %ul.inline-list.right
          %li
            = link_to "Goodreads", goodreads_url, html: {target: "_blank"}
          %li
            = link_to "Amazon Smile", "//smile.amazon.com/", html: {target: "_blank"}