%ul.vcard
    %li.fn Quynh Doan
    %li.locality Lakewood
    %li
        %span.state California,
        %span.zip 90715
    %li.email
        %a{href: "mailto:quynhddoan@gmail.com"} quynhddoan@gmail.com